:root {
  --color-brand-primary:	#08bfd0;
  --color-brand-secondary: #000000;
  --color-text-base: #0a0a0a;
  --color-text-muted: #c7d2fe;
  --color-text-inverted: #e9ebfc;
  --color-text-accent:  #000000;
  --color-text-heading: #262626;
  --color-text-link: #15399d;
  --color-text-link-hover: #3563e4;
  --color-text-header: #e9eefc;
  --color-text-header-muted: #8fa8f0;
  --color-text-footer: #091843;
  --color-text-footer-muted: #0f2970;
  --color-text-supplementary: #091843;
  --color-text-supplementary-muted: #0f2970;
  --color-text-info: #1e429f;
  --color-text-success: #03543f;
  --color-text-warning: #723b13;
  --color-text-danger: #9b1c1c;
  --color-border-base: #bccbf6;
  --color-border-muted: #f4f6fd;
  --color-border-footer: #bccbf6;
  --color-border-supplementary: #bccbf6;
  --color-border-info: #a4cafe;
  --color-border-success: #84e1bc;
  --color-border-warning: #faca15;
  --color-border-danger: #f8b4b4;
  --color-bg-info: #ebf5ff;
  --color-bg-success: #f3faf7;
  --color-bg-warning: #fdfdea;
  --color-bg-danger: #fdf2f2;
  --color-bg-base: #f8fafc;
  --color-bg-accent: #e9eefc;
  --color-bg-header:  #1d4ed8;
  --color-bg-supplementary: #e9eefc;
  --color-bg-footer: #e9eefc;
  --color-fill-icon: #ffffff;
}
.dark {
  --color-brand-primary: #08bfd0;
  --color-brand-secondary: #000000;
  --color-text-base: #e9ebfc;
  --color-text-muted: #7e829a;
  --color-text-inverted: #0a0a0a;
  --color-text-accent: #fdfdfd;
  --color-text-heading: #7e829a;
  --color-text-link: #7292ec;
  --color-text-link-hover: #99b1f1;
  --color-text-header: #b6b8c9;
  --color-text-header-muted: #7e829a;
  --color-text-footer: #7e829a;
  --color-text-footer-muted: #7e829a;
  --color-fill-base: #2e303e;
  --color-fill-accent:  #1d1e27;
  --color-fill-header:  #1d1e27;
  --color-fill-footer: #1d1e27;
  --color-fill-success: #55f855;
  --color-fill-success-accent: #00f600;
  --color-fill-warning: #ffa357;
  --color-fill-warning-accent: #ff7400;
  --color-fill-danger: #ff5858;
  --color-fill-danger-accent: #ff1919;
  --color-fill-icon: #626684;
  --color-border-base: #626684;
  --color-border-muted: #4c4f66;
  --color-border-footer: #626684;
}
